<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>family</key>
	<array>
		<dict>
			<key>truename</key>
			<string>蔡镇安</string>
			<key>nickname</key>
			<string>super_man_haha_very_good</string>
			<key>phone</key>
			<string>13824123504</string>
		</dict>
		<dict>
			<key>truename</key>
			<string>黄进益</string>
			<key>nickname</key>
			<string></string>
			<key>phone</key>
			<string>13956321589</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13888888886</string>
			<key>truename</key>
			<string>林小欣</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>12126532223</string>
			<key>truename</key>
			<string>孙悟空</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>18932231555</string>
			<key>truename</key>
			<string>许立冬</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13855555113</string>
			<key>truename</key>
			<string>周韦彤</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13548611234</string>
			<key>truename</key>
			<string>安哥哥</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13896235145</string>
			<key>truename</key>
			<string>火影</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>0125444546</string>
			<key>truename</key>
			<string>苍井空</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>1390002784</string>
			<key>truename</key>
			<string>2奶</string>
			<key>nickname</key>
			<string></string>
		</dict>
		<dict>
			<key>phone</key>
			<string>1343339425</string>
			<key>truename</key>
			<string>小三</string>
			<key>nickname</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
